{:tasks {:requires [[babashka.fs :as fs]]
         clean (fs/delete-tree "out")
         compile (clojure "-M -m cljs.main -co build.edn -c")
         build (do (run 'compile)
                   (spit "out/obb"
                         (str "#!/usr/bin/env osascript -l JavaScript\n\n"
                              (slurp "out/main.js")))
                   (shell "chmod u+x out/obb"))}}
