{:paths ["src"]
 :deps {org.babashka/sci {:mvn/version "0.2.8"}
        org.clojure/clojurescript {:mvn/version "1.10.893"}
        org.clojure/core.match {:mvn/version "1.0.0"}
        org.clojure/tools.cli {:mvn/version "1.0.206"}}}
