{:paths ["src"]
 :deps {org.babashka/sci #_{:local/root "../babashka/sci"} {:mvn/version "0.2.8"}
        org.clojure/clojurescript {:mvn/version "1.10.893"}
        org.clojure/tools.cli {:mvn/version "1.0.206"}}
 :aliases {:dev {:extra-deps {thheller/shadow-cljs {:mvn/version "2.16.12"}}}}}
